@charset "UTF-8";
body {
  font-family: Roboto, sans-serif;
}

#page-wrapper {
  display: table;
  margin: 0 auto;
  width: 100%;
}

#page-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  justify-self: flex-start;
}
.header__content {
  display: flex;
  border: 1px solid gray;
  padding: 10px;
  background-color: bisque;
  justify-content: space-between;
}

.main {
  flex-grow: 1;
  border: 1px solid gray;
}

.footer {
  justify-self: flex-end;
}
.footer__content {
  padding: 20px;
  border: 1px solid gray;
}

.main-menu {
  padding: 5px;
  text-align: center;
}

.navline {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid gray;
}

.main-page__title {
  margin: 10px;
}
.main-page__content {
  margin: 10px;
}

.catalog__title {
  margin: 10px;
}
.catalog__hot-categories {
  border: 1px solid gray;
  border-left: none;
  border-right: none;
}
.catalog__body {
  display: flex;
}
.catalog__filter {
  flex-basis: 10rem;
  padding: 10px;
  border-right: 1px solid gray;
}
.catalog__result {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.catalog__sort {
  padding: 10px;
  padding-bottom: 0;
}
.catalog__products {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  align-items: flex-start;
  padding: 10px;
}
.catalog__products-pagination {
  padding: 10px;
  padding-top: 0;
}
.catalog__products-pagination a {
  text-decoration: none;
}
.catalog__msg {
  margin: 10px;
}

.hot-categories-list {
  display: flex;
  margin: 0;
  padding: 10px;
  column-gap: 1em;
  row-gap: 1em;
}
.hot-categories-list > li {
  list-style-type: none;
}

.filter__form button[type=submit] {
  width: 100%;
}
.filter__price {
  margin-bottom: 5px;
}
.filter__producers {
  margin-bottom: 5px;
}
.filter__producers-query {
  margin-bottom: 5px;
}
.filter__producers-list {
  margin: 0 auto;
  padding-left: 0;
}
.filter__producers-list.--expanded {
  max-height: 100px;
  overflow: auto;
}
.filter__producers-list > li {
  list-style-type: none;
}
.filter__categories {
  margin-bottom: 10px;
}
.filter__categories-list {
  margin: 0 auto;
  padding-left: 0;
}
.filter__categories-list > li {
  list-style-type: none;
}
.filter__categories-list.--expanded {
  max-height: 100px;
  overflow: auto;
}

.catalog-product-card {
  display: flex;
  min-width: 15rem;
  flex-basis: 18rem;
  min-height: 13rem;
  border: 1px solid gray;
  background-color: bisque;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.5em;
}
.catalog-product-card__body {
  flex-grow: 1;
}
.catalog-product-card__title {
  font-weight: bold;
}
.catalog-product-card__price {
  font-weight: bold;
}

.product-page__title {
  margin: 10px;
}
.product-page__content {
  margin: 10px;
}
.product-page__price {
  font-weight: bold;
}
.product-page__menu {
  margin-top: 1em;
}
.product-page__msg {
  margin: 10px;
}

.product-basket-menu__btn {
  font-size: large;
  font-weight: bold;
}

.basket {
  width: 100%;
}
.basket__title {
  margin: 10px;
}
.basket__info {
  padding: 10px;
  border: 1px solid gray;
  border-left: none;
  border-right: none;
}
.basket__list {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
  padding: 10px;
}

.basket-item {
  display: flex;
  padding: 10px;
  border: 1px solid gray;
  background-color: bisque;
  column-gap: 10px;
}
.basket-item__body {
  flex-basis: 50%;
  flex-shrink: 1;
}
.basket-item__title {
  font-weight: bold;
}
.basket-item__price {
  font-weight: bold;
}
.basket-item__menu {
  flex-grow: 1;
  flex-shrink: 1;
}

.basket-item-menu {
  display: flex;
  height: 100%;
  margin-bottom: 5px;
  flex-direction: column;
  justify-content: space-between;
}
.basket-item-menu__count {
  width: 3em;
  height: 1.6em;
  vertical-align: middle;
}
.basket-item-menu__btn {
  vertical-align: middle;
  font-size: large;
  font-weight: bold;
}

.basket-tray {
  color: blue;
}

.adminka__title {
  margin: 10px;
}

.adm-products__info {
  padding: 10px;
  border: 1px solid gray;
  border-left: none;
  border-right: none;
}
.adm-products__list {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
  padding: 10px;
}
.adm-products__msg {
  margin: 10px;
}

.adm-products-item {
  display: flex;
  padding: 10px;
  border: 1px solid gray;
  background-color: bisque;
  column-gap: 10px;
}
.adm-products-item__body {
  flex-basis: 50%;
  flex-shrink: 1;
}
.adm-products-item__title {
  font-weight: bold;
}
.adm-products-item__price {
  font-weight: bold;
}
.adm-products-item__menu {
  flex-grow: 1;
  flex-shrink: 1;
}

.toggle-link {
  font-size: 0.9em;
  color: green;
}
.toggle-link:hover {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}
.toggle-link--expander:after {
  content: "▾";
}
.toggle-link--expander.--expanded:after {
  content: "▴";
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

fieldset {
  margin: 0;
  border: 1px solid gray;
}