

* {
  font-family: Roboto, sans-serif;
}

// a {
//   color: darkgreen;
//   text-decoration: none;

//   &:hover {
//     color: green;
//     text-decoration: underline;
//   }
// }

// временная граница для отладки
@mixin debug-border($color) { 
  border: 1px solid $color;  
}

// обертка, растягивающаяся по ширине содержимого
#page-wrapper {
  display: table;
  margin: 0 auto;
  width: 100%;
  //@include debug-border(red);  
}

// обертка флекс-колонка для опускания футера к низу страницы в случае маленькой высоты контента
#page-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// шапка
.header {
  justify-self: flex-start;

  &__content {
    display: flex;
    border: 1px solid gray; 
    padding: 10px;
    background-color: bisque;
    justify-content: space-between;
  }
  //@include debug-border(red);  
}

// основное содержание страницы
.main {
  flex-grow: 1;
  border: 1px solid gray;
}

// подвал
.footer {
  justify-self: flex-end;

  &__content {
    padding: 20px;
    border: 1px solid gray; 
  }
  //@include debug-border(blue); 
}

.main-menu {
  padding: 5px;
  text-align: center;
}

.navline {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid gray; 
}

.main-page {
  &__title {
    margin: 10px;
  }

  &__content {
    margin: 10px;
  }
}

.catalog {
  &__title {
    margin: 10px;
  }

  &__hot-categories {
    border: 1px solid gray;
    border-left: none;
    border-right: none;
  }

  &__body {
    display: flex;
  }

  &__filter {
    flex-basis: 10rem;
    padding: 10px;
    border-right: 1px solid gray;
  }

  &__result {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    //@include debug-border(blue);  
  }

  &__sort {
    padding: 10px;
    padding-bottom: 0;
    //@include debug-border(green); 
  }

  &__products {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    align-items: flex-start;
    padding: 10px;
    //@include debug-border(green);
  }

  &__products-pagination {
    padding: 10px;
    padding-top: 0; 

    & a {
      text-decoration: none;
    }
    //@include debug-border(green);
  }

  &__msg { 
    margin: 10px;
  }
}

.hot-categories-list {
  display: flex; 
  margin: 0;
  padding: 10px;
  column-gap: 1em;
  row-gap: 1em;
  & > li {
    list-style-type: none;
  }
}

.filter {
  &__form {
    button[type="submit"] {
      width: 100%;
    }
  }

  &__price {
    margin-bottom: 5px;
  }

  &__price-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;

    & input[type=text] {
      max-width: 5em;
    }
  }

  &__producers {
    margin-bottom: 5px;
  }

  &__producers-query { 
    margin-bottom: 5px;
  }

  &__producers-list {
    margin: 0 auto;
    padding-left: 0;

    &.--expanded {
      max-height: 100px;
      overflow: auto; 
    }

    & > li {
      list-style-type: none;
    }
  }

  &__categories {
    margin-bottom: 10px;
  }

  &__categories-list {
    margin: 0 auto;
    padding-left: 0;

    & > li {
      list-style-type: none;
    }

    &.--expanded {
      max-height: 100px;
      overflow: auto; 
    }
  }
}

.catalog-product-card {
  display: flex;
  min-width: 15rem;
  flex-basis: 18rem;
  min-height: 13rem;
  border: 1px solid gray;  
  background-color: bisque; 
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.5em;

  &__body {
    flex-grow: 1;
    //@include debug-border(red)
  }

  &__title {
    font-weight: bold;
  }

  &__price {
    font-weight: bold;
  }
}

.product-page {
  &__title {
    margin: 10px;
  }

  &__content {
    margin: 10px;
  }

  &__price {
    font-weight: bold;
  }

  &__menu {
    margin-top: 1em;
  }

  &__msg {
    margin: 10px;
  }
}

.product-basket-menu {
  &__btn {
    font-size: large; 
    font-weight: bold;
  }
}

.basket {
  width: 100%;

  &__title {
    margin: 10px;
  }

  &__info {
    padding: 10px;
    border: 1px solid gray; 
    border-left: none;
    border-right: none;
  }

  &__list {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
    padding: 10px;
  }
}

.basket-item {
  display: flex;
  padding: 10px;
  border: 1px solid gray;  
  background-color: bisque;
  column-gap: 10px;

  &__body {
    flex-basis: 50%;
    flex-shrink: 1;
  }

    &__title {
      font-weight: bold;
    }

    &__price {
      font-weight: bold;
    }

  &__menu {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.basket-item-menu {
  display: flex;
  height: 100%;
  margin-bottom: 5px;
  flex-direction: column;
  justify-content: space-between;

  &__count {
    width: 3em;
    height: 1.6em;
    vertical-align: middle;
  }

  &__btn {
    vertical-align: middle;
    font-size: large; 
    font-weight: bold;
  }
}

.basket-tray {
  color: blue;
}

.adminka {
  &__title {
    margin: 10px;
  }
}

.adm-products {
  &__info {
    padding: 10px;
    border: 1px solid gray; 
    border-left: none;
    border-right: none;
  }

  &__list {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
    padding: 10px;
  }

  &__msg {
    margin: 10px;
  }
}

.adm-products-item {
  padding: 10px;
  border: 1px solid gray;  
  background-color: bisque;

  &__table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 5px;
      vertical-align: top;
      border: 1px solid gray;  

      & > div {
        height: 1.2rem;
        padding: 4px;
      }

      & > input[type="text"],
      & > textarea {
        margin: 0;
        height: 1.2rem;
        padding: 2px;
        outline: none;
      }

      & > textarea {
        padding: 3px;
      }
    }

    td:first-child {
      width: 10em;
      padding: 7px;
      text-align: right;
    }
  }

  &__descr-div {
    min-height: 5em; 
  }

  &__descr-ta {
    display: block;
    min-height: 5em;
  }

  &__menu {
    margin-top: 10px;
  }
}

.product-form {
  padding: 10px;
  border: 1px solid gray;  
  background-color: bisque;

  &__table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 5px;
      vertical-align: top;
      border: 1px solid gray;  

      & > div {
        height: 1.2rem;
        padding: 4px;
      }

      & > input[type="text"],
      & > textarea {
        margin: 0;
        height: 1.2rem;
        padding: 2px;
        outline: none;
      }

      & > textarea {
        padding: 3px;
      }
    }

    td:first-child {
      width: 10em;
      padding: 7px;
      text-align: right;
    }
  }

  &__descr-div {
    min-height: 5em; 
  }

  &__descr-ta {
    display: block;
    min-height: 5em;
  }

  &__menu {
    margin-top: 10px;
  }
}

.nobr {
  word-wrap: none;
}

.toggle-link {
  font-size: 0.9em;
  color: green;
  &:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
  }

  &--expander {
    &:after {content: '▾';}
    &.--expanded:after {content: '▴';}
  }
}

button {
  font-size: 1em;
}

input[type="text"] {
  padding: 2px;
  font-size: 1em;
}

textarea {
  padding: 2px;
  font-size: 1em;
}

select {
  padding: 2px;
  font-size: 1em;
}

input:focus::placeholder, 
textarea:focus::placeholder { 
  opacity: 0; 
}

fieldset {
  margin: 0;
  border: 1px solid gray;
}
